<div class="container" id="highScores">
    <h1 id="finalScore" class="topText">Leaderboard</h1>
    <ul id="highScoresList"></ul>
    <a href="/" class="btn">Go Home<i class="fas fa-home"></i></a>
</div>