<div class="container text-center ">
      <div id="homecard" class="card startCard mb-3">
        <h1 class="topText">Code Quiz</h1>
        <a href="/game" class="btn btn-danger btnOptions">Play</a>
        <a href="/highscores" id="highscore-btn" class="btn btn-primary btnOptions">High Scores<i class="fas fa-crown"></i></a>
      </div>
    </div>