body {
    background-image: url(../images/small\ background.jpg);
     background-size: cover;
   
    }
@media only screen and (min-width: 400px) {
    body {
      background-image: url(../images/technology-background-1632715.jpg);
    }
}

.cardStyle {
    width: 30rem; 
    margin: 0 auto;
    margin-top: 80px; 
    padding: 30px 40px;
    border-radius: 30px;
}

.myCardHeader {
    font-weight: bold;
    font-size: larger;
}

#qOne { 
    display: none;    
}

#qTwo {
    display: none;
}

#qThree {
    display: none;
}
#qFour {
    display: none;
}

#qFive {
    display: none;
}
#qSix {
    display: none;
}

#qSeven {
    display: none;
}
#qEight {
    display: none;
}
